In [1]:
import pandas as pd

In [2]:
aggregation = pd.read_excel('aggregation.xlsx')

In [3]:
aggregation.head()

,Unnamed: 0,user_id,product_type,interface,sale_dtm,event_type,event_dtm,event_status,source_medium,utm_campaign,campaign_start_dtm,campaign_end_dtm,campaign_type,payout,campaign_cost
0,0,cc9450e76fd7a6b5e8f5bd14c0a9a4f1,loan,app,2023-06-15 21:20:43.703,click,2023-06-15 21:20:43.703,NaN,ios / mobile_app,brandkeys_light_mind,2023-06-02 07:54:25.593,2023-06-02 07:54:25.593,click,0.0,0.0
1,1,ba680bab37704cf1bff4c180bda7c31a,deposits,app,2023-02-19 05:22:29.299,show,2023-02-19 05:22:29.299,NaN,ru.android.bankproduct / mobile_app,title_target_market,2023-02-02 14:50:32.571,2023-02-02 14:50:32.571,show,NaN,NaN
2,2,6b2c800a06aaa250309e2028c5613ae2,loan,web,2023-05-23 07:14:19.645,show,2023-05-23 07:14:19.645,NaN,yandex / cpc,megamaket_target_reels,2023-05-13 06:43:56.328,2023-05-13 06:43:56.328,show,NaN,NaN
3,3,24e703a14dec52207ab4f41567ad0ea8,loan,web,2023-11-08 07:43:50.838,show,2023-11-08 07:43:50.838,NaN,yandex / cpc,rebrand_adv_market,2023-10-27 11:00:11.871,2023-10-27 11:00:11.871,show,NaN,NaN
4,4,87f8a9bcff77b3546bda9e13edccc995,deposits,app,2023-08-25 01:48:00.178,show,2023-08-25 01:48:00.178,NaN,ru.android.bankproduct / mobile_app,case_target_title,2023-08-20 20:41:04.555,2023-08-20 20:41:04.555,show,NaN,NaN

In [4]:
aggregation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          5682 non-null   int64
 1   user_id             5682 non-null   object
 2   product_type        5682 non-null   object
 3   interface           5682 non-null   object
 4   sale_dtm            5682 non-null   datetime64[ns]
 5   event_type          5682 non-null   object
 6   event_dtm           5682 non-null   datetime64[ns]
 7   event_status        423 non-null    object
 8   source_medium       5682 non-null   object
 9   utm_campaign        5623 non-null   object
 10  campaign_start_dtm  5682 non-null   datetime64[ns]
 11  campaign_end_dtm    5682 non-null   datetime64[ns]
 12  campaign_type       5682 non-null   object
 13  payout              1480 non-null   float64
 14  campaign_cost       1560 non-null   float64
dtypes: datetime64[ns](4), float64(2), int64(1), object(8)
memory usage: 666.0+ KB

In [5]:
# Подсчитываем количество уникальных значений
unique_count = aggregation['event_type'].nunique()

# Визуализируем частоту появления каждого значения
frequency = aggregation['event_type'].value_counts()

print(unique_count)
print(frequency)

3
event_type
show          3975
click         1284
conversion     423
Name: count, dtype: int64

In [14]:
# Фильтрация данных для пользователей с записью "conversion"
converted_users = aggregation[aggregation['event_type'] == 'conversion']['user_id'].unique()

# Вывод списка пользователей с конверсией
print("Список пользователей с записью 'conversion':")
print(converted_users)

Список пользователей с записью 'conversion':
['13946ea247633457587d91662d7f45f9' '00ff98c1f7cf229580713dbffec3afdb'
 '34915d8a7f235eeb05b3b3761171ad72']

In [8]:
import statsmodels.api as sm

In [10]:
# Преобразование данных для построения модели
# Пример: использование столбца 'source_medium' в качестве фактора
aggregation['source_factor'] = pd.factorize(aggregation['interface'])[0]

# Построение линейной модели
X = sm.add_constant(aggregation['source_factor'])  # Добавляем константу для свободного члена
y = aggregation['payout']

model = sm.OLS(y, X).fit()

# Вывод результатов
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 payout   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Sun, 26 May 2024   Prob (F-statistic):                nan
Time:                        15:49:43   Log-Likelihood:                    nan
No. Observations:                 100   AIC:                               nan
Df Residuals:                      98   BIC:                               nan
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const                nan        nan        nan        nan         nan         nan
source_factor        nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                         2.07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.